$bgcolor : #44B59A;

html{
    font-size: 1vw;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

body {
    overflow-x: hidden !important;
}

body {
    text-align: center;
    margin: 0 auto;
    padding: 100px 1rem 0 1rem;
}

header {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0%;
    width: 100vw;
    background-color: $bgcolor;
    color: #fff;
    text-align: center;
    height: 80px;

    & nav {
        display: flex;
        justify-content: space-around;
        color: #fff;

        & h5 {
            margin-top: 12px;
        }
    }
}

.title {
    display: flex;
    justify-content: space-between;
    margin: 0 3rem;
    width: 19rem;

    img {
        height: 7rem;
        vertical-align: 50%;
    }

    h1 {
        line-height: 8rem;
        font-size: 2rem;
    }
}

.step {
    display: flex;
    justify-content: space-around;

    span {
        display: block;
        background-color: #44B59A;
        color: #fff;
        border-radius: 1000px;
        width: 2.7rem;
        height: 2.7rem;
        padding: 0.5em;
        font-size: 1.2rem;
        margin: 1rem auto;

        &::after {
            content: '';
            width: 21.8rem;
            height: 4px;
            display: inline-block;
            background-color: #337ab7;
            position: relative;
            bottom: 2.15rem;
            left: 2.1rem;
            // left: calc(50% - 55px)
        }
    }

    div{
        width: 30%;
    }

}