$bgcolor : #44B59A;

html{
    font-size: 1vw;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

body {
    overflow-x: hidden !important;
}

body {
    text-align: center;
    margin: 0 auto;
    padding: 5.5rem 1rem 0 1rem;
}

header {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0%;
    width: 100vw;
    background-color: $bgcolor;
    color: #fff;
    text-align: center;
    height: 80px;

    & nav {
        display: flex;
        justify-content: space-around;
        color: #fff;

        & h5 {
            margin-top: 12px;
        }
    }
}

.title {
    display: flex;
    justify-content: space-between;
    margin: 0 3rem;
    width: 17rem;
    height: 5rem;

    img {
        height: 7rem;
        vertical-align: 50%;
    }

    h1 {
        line-height: 8rem;
        font-size: 2rem;
    }
}

.step {
    display: flex;
    justify-content: space-around;

    span {
        display: block;
        background-color: #44B59A;
        color: #fff;
        border-radius: 1000px;
        width: 2.7rem;
        height: 2.7rem;
        padding: 0.5em;
        font-size: 1.2rem;
        margin: 1rem auto;
        z-index: 10;

        &::after {
            content: '';
            width: 21.5rem;
            height: 0.1rem;
            display: inline-block;
            background-color: #337ab7;
            position: relative;
            bottom: 2.15rem;
            left: 2.1rem;
            z-index: 1;
        }
    span::n
    }

    div{
        width: 30%;
    }

}

.contact-ttl {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 40px;
    text-align: center;
}

.contact-table {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

.contact-item,
.contact-body {
    padding: 20px;
    border: 1px solid #ccc;
}

.contact-item {
    text-align: left;
    width: 20%;
    background-color: #eee;
}

.contact-body {
    width: 70%;
}

.form-text {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    max-width: 400px;
}

.contact-sex+.contact-sex {
    margin-left: 10px;
}

.contact-sex-txt {
    display: inline-block;
    margin-left: 5px;
}

.form-select {
    width: 180px;
    height: 40px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-skill {
    display: block;
}

.contact-skill+.contact-skill {
    margin-top: 10px;
}

.contact-skill-txt {
    display: inline-block;
    margin-left: 5px;
}

.form-textarea {
    width: 100%;
    padding: 10px;
    height: 200px;
    border-radius: 5px;
    border: 1px solid #ccc;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.contact-submit {
    width: 250px;
    background-color: #333;
    color: #fff;
    font-weight: bold;
    display: block;
    margin: 2rem auto;
    font-size: 16px;
    padding: 15px;
    border-radius: 100vh;
    border: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
    padding: 0;
    width: 850px;
    table-layout: fixed;
}

table tr {
    background-color: #fff;
    border: 2px solid #eee;
}

table tr:last-child {
    border: none;
}

table th {
    width: 120px;
    padding: 10px 0;
    border-right: 2px solid #fff;
}

table td {
    border-right: 2px solid #eee;
    text-align: center;
    padding: 5px;
}

table th {
    font-size: 1rem;
}

table thead tr {
    background-color: #50535d;
    color: #fff;
}

table tbody th {
    border-right: 2px solid #eee;
}

th.non {
    border-right: none;
}

.txt {
    text-align: left;
    font-size: .85em;
}

.price {
    color: #000;
    font-size: .85em;
}

.price span {
    font-size: .6em;
}

.graph_number {
    width: 50px;
    height: 50px;
}

#input_plural {
    margin: 10px 0;
}

#input_plural input.form-control {
    display: inline-block;
    width: 75%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    color: #555;
}

#input_plural input.pluralBtn {
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 5px;
    padding: 0;
    margin: 0;
}

form{
    margin: 3rem 0;
}

.check{
    margin: 2rem 0;
    table tbody th {
        border: none;
    }

    table {
        border-collapse: collapse;
        margin: 0 auto;
        padding: 0;
        width: 550px;
        table-layout: fixed;
    }
    
    table tr {
        background-color: #fff;
        border: none;
    }
    
    table tr:last-child {
        border: none;
    }
    
    table th {
        width: 120px;
        padding: 3px 0;
        border-right: none;
        font-size: 1.2rem;
        font-weight: normal;
    }
    
    table td {
        border-right: none;
        text-align: center;
        padding: 3px;
        font-size: 1.5rem;
    }
    
}

.success{
    margin: 5rem;
    span{
        color: #F37E12;
    }
    h1{
        font-size: 3rem;
        margin: 3rem 0;
    }
}

.footer{
    margin-top: 11rem;
    a{
        margin: 3rem;
        font-size: 1.3rem;
        color: #337ab7;
    }
}