$bgcolor : #44B59A;

html {
    font-size: 1vw;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

body {
    overflow-x: hidden !important;
}

body {
    text-align: center;
    margin: 0 auto;
    padding: 90px 1rem 0 1rem;
}

header {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0%;
    width: 100vw;
    background-color: $bgcolor;
    color: #fff;
    text-align: center;
    height: 80px;

    & nav {
        display: flex;
        justify-content: space-around;
        color: #fff;

        & h5 {
            margin-top: 12px;
        }
    }
}

.footer {
    margin-top: 11rem;

    a {
        margin: 3rem;
        font-size: 1.3rem;
        color: #337ab7;
    }
}

@media (max-width: 399px) {
    @import "breakpoints/_400Down.scss";
}

@media (min-width:400px) and (max-width:599px) {
    @import "breakpoints/_600Down.scss";
}

@media (min-width:600px)and (max-width: 899px) {
    @import "breakpoints/_900Down.scss";
}