header{
  height: 80px;
  & nav{
    display: none;
  }
}



.main{
  width: 90vw;
  margin: 0 auto;
  position: relative;
  z-index: 90;
  // overflow-x: hidden;
  // display: flex;
  // justify-content: space-between;
  // & article{
  //   width: 75%;
  // }
  // & aside{
  //   width: 22%;
  // }
  & article{
    width: 100%;
  }
  & aside{
    display: none;
  }
}

.compareBar{
  position: fixed;
  top: 90px;
  left: 0%;
  // width: 100vw;
  text-align: center;
  z-index: 99;
  & select{
    background-size: 20px 20px;
    font-size: 12px;
  }
  & form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  & button{
    background-color: orange;
    padding: 5px 30px;
    border-radius: 10px;
    margin-top:5px;
    // display: none;
  }
}

.first{
  margin: 0 auto;
  margin-top: 150px;
  &-logo{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    & img{
      width: 100px;
      height: 100px;
      object-fit: cover;
    }
    & h1{
      font-size: 36px;
    }
  }
  & h4{
    text-align: center;
  }
}

.stepBox{
  text-align: center;
  margin: 20px 0;
  background-color: rgba(82, 212, 181,.3);
  height: 50vh;
  & .step{
    padding: 20px;
    &-1{
      width: 32%;
      height: 30%;
      background-color: #fff;
    }
    &-2{
      width: 32%;
      height: 30%;
      background-color: #fff;
    }
    &-3{
      width: 32%;
      height: 30%;
      background-color: #fff;
    }
    & img{
      width: 50%;
      height: 50%;
      padding: 10px;
    }
  }
}

.agentlist{
  // overflow-x: hidden;
  &-shuffle{
    & p{
      display: block;
    }
    & select{
      width: 100%;
    }
  }
  &-item{
    margin: 50px 0;
    padding: 15px;
    &_box{
      padding: 10px;
      & h2{
        display: block;
      }
      & p{
        display: inline;
      }
      & button{
        width: 50%;
      }
    }
    &_category{
      margin: 10px 0;
      & ul{
        display: flex;
        & li{
          margin-right: 10px;
          margin-top: 5px;
          padding: 2px 5px;
          width: 100%;
          font-size: 12px;
          white-space: nowrap;
        }
      }
    }
    &_lead{
      & h3{
        font-size: 22px;
      }
      & h6{
        font-size: 15px;
        white-space: nowrap;
      }
    }
    &_img{
      display: block;
      // justify-content: flex-start;
      & .site{
        width: 100%;
        object-fit: cover;
      }
      & .cart{
        position: relative;
        background-color: rgba(255, 0, 0,.7);
        font-weight: 700;
        padding: 5px 20px;
        border-radius: 10px;
        z-index: 2;
        flex: 1;
        width: 50%;
        color: #fff;
        white-space: nowrap;
        & img{
          width: 25px;
          height: 22px;
        }
      }
      & .detail{
        position: relative;
        background-color: rgba(255, 94, 0, 0.7);
        font-weight: 700;
        padding: 5px 20px;
        width: 100%;
        flex: 1;
        z-index: 2;
        white-space: nowrap;
      }
    }
    &_table{
      & table{
        width: 100%;
        margin: 30px auto;
        border-collapse: collapse;
        & td{
          border: #000 solid 1px;
          text-align: center;
          font-size: 24px;
        }
        & th{
          background-color: rgba(255, 98, 0, 0.6);
          border: #000 solid 1px;
          font-size: 20px;
        }
      }
    }
    &_service{
      & h2{
        margin-top: 50px;
        &::before{
          content: ""; /* 空の要素作成 */
          width: 20px; /* 幅指定 */
          height: 20px; /* 高さ指定 */
          display: inline-block; /* インラインブロックにする */
          background-color: #44B59A;
          border-radius: 50%; /* 要素を丸くする */
        }
      }
      & img{
        width: 90%;
      }
      & .service-step{
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
        padding: 5px 0px;
        border-radius: 20px;
        margin: 30px 0;
        overflow: hidden;
        & p{
          font-size: 12px;
          font-weight: 600;
          & span{
            background-color: rgba(255, 98, 0, 0.6);
            padding: 20px;
            color: #fff;
            margin-right: 15px;
          }
        }
      }
    }
    &_apeal{
      & h2{
        margin-top: 50px;
        &::before{
          content: ""; /* 空の要素作成 */
          width: 20px; /* 幅指定 */
          height: 20px; /* 高さ指定 */
          display: inline-block; /* インラインブロックにする */
          background-color: #44B59A;
          border-radius: 50%; /* 要素を丸くする */
        }
      }
      & h4{
        border-bottom: #18bd7b solid 4px;
        font-size: 30px;
        margin:  30px 0;
      }
      & p{
        font-size: 18px;
      }
    }
    &_cart{
      text-align: center;
      position: absolute;
      top: 1%;
      right: 5%;
      background-color: rgba(255, 0, 0,.7);
      color: #fff;
      font-weight: 700;
      padding: 10px 30px;
      width: 50%;
      white-space: nowrap;
    }
    &_return{
      background-color: rgba(255, 81, 0, 0.7);
      color: #fff;
      font-weight: 700;
      padding: 10px 30px;
      border-radius: 10px;
      width: 50%;
      margin:  100px auto;
      text-align: center;
    }
  }
}

.no{
  width: 90%;
}

.cartImg{
  z-index: 999;
  & img{
    width: 40px;
    height: 40px;
  }
}

// .agentBattle{
//   display: none;
// }

.agentBattle{
  // display: none;
  width: 45%;
  margin: 0 auto;
  z-index: -1;
  margin-top: 134px;
  text-align: center;
  & .compare-item{
    margin: 50px 0;
  }
  & h4{
    font-size: 20px;
    border-bottom: rgba(255, 165, 0,.6) solid 2px;
    margin-bottom: 30px;
    text-align: left;
  }
  & h1{
    font-size: 18px;
    text-align: center;
    & span{
      font-size: 30px;
    }
  }
  &-img{
    text-align: center;
    height: 120px;
    & img{
      // width:300px;
      // height: 300px;
      width: 70%;
      object-fit: cover;
    }
  }
  &-lader{
    text-align: center;
    height: 150px;
    & h4{
      text-align: left;
    }
    & img{
      // width:300px;
      // height: 300px;
      width: 90%;
      object-fit: cover;
    }
  }
  &-category{
    height: 200px;
    margin: 20px 0;
    & ul{
      display: block;
      & li{
        margin-right: 20px;
        margin-top: 10px;
        background-color: rgb(73, 219, 143);
        padding: 5px 10px;
        border-radius: 5px;
        font-weight: 800;
        width: 90%;
        text-align: center;
      }
    }
  }
  &-style{
    & img{
      width: 80%;
    }
  }
  &-place{
    & img{
      width: 80%;
    }
  }
  &-field{
    height: 200px;
    & img{
      width: 80%;
    }
  }
  &-detail{
    text-align: center;
    & button{
      background-color: rgba(255, 94, 0, 0.7);
      font-weight: 700;
      padding: 10px 30px;
      border-radius: 10px;
      width: 90%;
      margin: 30px auto;
      white-space: nowrap;
    }
    & input{
      width: 90%;
    }
    & a{
      color: #fff;
    }
  }
  &-strong{
    & h1{
      font-size: 24px;
    }
  }
  &-cart{
    text-align: center;
    & button{
      background-color: rgba(255, 0, 0,.7);
      font-weight: 700;
      padding: 10px 30px;
      border-radius: 10px;
      width: 90%;
      margin:  30px auto;
      color: #fff;
      white-space: nowrap;
      & img{
        width: 25px;
        height: 22px;
      }
    }
  }
  &-link{
    & a{
      color: rgb(0, 174, 255);
      display: block;
      text-align: center;
      font-size: 15px;
      margin-bottom: 20px;
    }
  }
}

header{
  & .mobile-menu-icon {
    display: block;
    position: absolute;
    left: 85%;
  }
}

.modal{
  &-cart{
    background-color: rgba(82, 212, 181,.3);
    padding: 10px;
    margin-bottom: 30px;
    & img{
      width: 50%;
      object-fit: cover;
    }
    & .step{
      display: block;
      text-align: center;
      & > div{
        margin-bottom: 20px;
      }
    }
  }
  &-compare{
    background-color: rgba(82, 212, 181,.3);
    padding: 10px;
    & img{
      width: 80%;
      object-fit: cover;
    }
    & .step{
      display: block;
      text-align: center;
      & > div{
        margin-bottom: 20px;
      }
    }
  }
}


.compareBar{
  position: fixed;
  top: 90px;
  left: 0%;
  width: 100%;
  text-align: center;
  z-index: 999;
  // display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  & select{
    width: 40%;
    // border: #000 solid 2px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    padding: 8px;
    background-color: #fff;
    background-image: url(img/iconmonstr-angel-down-circle-thin-240.png);
    background-position: right 2px center;
    background-size: 20px 20px;
  }
  & button{
    background-color: orange;
    box-shadow: 2px 2px 5px rgba(255, 165, 0,.6);
    padding: 5px 20px;
    border-radius: 1px;
    font-weight: 700;
    white-space: nowrap;
    font-size: 12px;
  }
  & .vs{
    font-weight: 800;
    font-size: 16px;
    text-shadow: 2px 2px 5px rgba(255, 0, 0,.5);
    font-family: 'Anton', sans-serif;
font-family: 'Noto Serif', serif;
font-family: 'Sawarabi Mincho', serif;

  }
  & img{
    width: 6%;
  }
}
.agentlist-item{
  &_lead{
    & h3{
      font-size: 14px;
    }
    & h6{
      font-size: 12px;
    }
  }
  &_img{
    display: block;
    justify-content: space-around;
    align-items: flex-end;
    gap: 10px;
    & .lader{
      width: 40%;
      & img{
        object-fit: cover;
      }
    }
    & .cart{
      // position: absolute;
      // top: 25%;
      // right: 5%;
      background-color: rgba(255, 0, 0,.7);
      box-shadow: 2px 2px 5px rgba(255, 0, 0,.7);
      font-weight: 700;
      padding: 10px 15px;
      // border-radius: 10px;
      width: 100%;
      z-index: 2;
      color: #fff;
      white-space: nowrap;
      font-size: 12px;
    }
    & .detail{
      // position: absolute;
      // bottom: 5%;
      // right: 5%;
      background-color: rgba(255, 94, 0, 0.7);
      box-shadow: 2px 2px 5px rgba(255, 94, 0, 0.7);
      font-weight: 700;
      padding: 10px 15px;
      // border-radius: 10px;
      width: 90%;
      z-index: 2;
      white-space: nowrap;
      font-size: 12px;
    }
}
}


header{
  & .search2{
    display: none;
}}

// canvas{
//   margin-left: -50px;
// }


.rader{
  width: 80%;
  height: 80%;
  margin-left: -50px;
}

.battle-rader{
  width: 150%;
  height: 150%;
}

.container{
  .contact-table {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
    border: 1px solid #ccc;
  }
  
  .step {
    span {
        width: 9rem;
        height: 9rem;
        font-size: 3.7rem;
  
        &::after {
            content: '';
            width: 16rem;
            bottom: 6.8rem;
            left: 6.7rem;
        }
    }
  }
  
  .color{
    &::after{
        height: 0.6rem !important;
        bottom: 6.5rem !important;
    }
  }
  
  .title {
    display: flex;
    justify-content: space-between;
    margin: 0 3rem;
    width: 40rem;
    height: 14rem;
  
    img {
        height: 14rem;
        vertical-align: 50%;
    }
  
  
    h1 {
        line-height: 17rem;
        font-size: 6rem;
    }
  }
  
  
  .check table td {
    font-size: 4.7rem;
    width: 61rem;
  }
  
  .check table th {
    font-size: 3rem;
    margin: 0 -18rem;
    width: 19rem;
  }
}