body {
    text-align: center;
    margin: 0 auto;
    padding: 140px 10px 0 10px;
    background-color: #e5e5e5;
}

a {
    text-decoration: none;
    color: black;
}

li{
    list-style: none;
}

.section_main {
    margin: 15px auto;
    width: 1000px;
    height: 480px;
    box-sizing: border-box;
    padding: 10px;
}

// ヘッダー
@import "../parts/header";

// 表
@import "../parts/table";


// 検索バー
@import "../parts/search";

.section_header {
    width: 33%;
}

.section_header {
    margin: 0 39%;
}

.wrap {
    overflow: scroll;
    height: 450px;
    width: 100%;
    border-radius: 10px;
}

.trash-can {
    width: 30px;
    height: 30px;
}

.clear {
    font-size: 18px;
    color: #000000;
    background-color: rgb(193, 193, 193);
    padding: 5px 10px;
    font-weight: 600;
    text-align: center;
    width: 100%;
}

.page {
    text-align: left;
    margin-bottom: 20px;

    & a {
        color: cornflowerblue;
        text-decoration: underline;
    }

    &_current {
        font-weight: 700;
    }
  }

.delete{
    margin-top: 150px;
}

.price{
    & input{
        cursor: pointer;
        &:not(.trash-can){
            background: linear-gradient(to bottom, #FFC778, #FFF);
            border: #000000 0.5px solid;
            // opacity: 0.9;
        }
        // &:hover{
        //     opacity: 1;
        // }
    }
}

th{
    position: sticky;
    top: 0;
    color: #fff;
    background: #333;
}

.search_select{
    width: 250px;
    height: 30px;
    margin: 8px;
}

.clear {
    color: #000000;
    background: -webkit-gradient(linear, left top, left bottom, from(#c1c1c1), to(#FFF));
    background: linear-gradient(to bottom, #c1c1c1, #FFF);
    padding: 3px 5px;
    font-weight: 200;
    font-size: 14PX !important;
    text-align: center;
    width: 100%;
    margin: 8px;
    border: #000000 0.5px solid;
    height: 25px !important;
}