body {
    text-align: center;
    margin: 0 auto;
    padding: 140px 10px 0 10px;
}

header {
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    font-size: 25px;
    text-align: left;

    h1 {
        padding-left: 10px;
        color: #fff;
    }

    div {
        height: 60px;
        width: 100%;
        color: #fff;
        background-color: #44B59A;
        font-size: 25px;
        text-align: center;
        line-height: 60px;
    }

    ul {
        display: flex;
        justify-content: space-between;
        width: 45%;
        padding-left: 20px;
    }

    a {
        color: #fff;
        text-decoration: none;

        &:hover {
            text-decoration: underline #fff;
        }
    }
}

.header_top {
    display: flex;
    justify-content: space-between;
    height: 60px;
    width: 100%;
    font-size: 25px;
    line-height: 60px;
    background-color: #44B59A;

    img {
        width: 50px;
        height: 50px;
        margin-top: 5px;
        vertical-align: -25%;
    }

    a {
        color: #FF9538;
        padding: 0 10px;
    }
}

.login {
    width: 600px;
    margin: 150px auto;
    font-size: 16px;
}

.login-container {
    background: #bcebcf;
    padding: 50px 12px;
    height: 350px;
    box-sizing: border-box;
    text-align: center;
    a{
        color: #1cafcf;
    }
}

/* Every row inside .login-container is defined with p tags */
.login p {
    padding: 12px;
}

.login input {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    padding: 16px;
    outline: 0;
    font-family: inherit;
    font-size: 0.95em;
}

.login input[type="email"],
.login input[type="password"] {
    background: #fff;
    border-color: #bbb;
    color: #555;
}

/* Text fields' focus effect */
.login input[type="email"]:focus,
.login input[type="password"]:focus {
    border-color: #888;
}

.login input[type="submit"] {
    background: #ff7a00;
    opacity: 0.9;
    border-color: transparent;
    color: #fff;
    cursor: pointer;
}

.login input[type="submit"]:hover {
    background: #ff7a00;
    opacity: 1;
}

/* Buttons' focus effect */
.login input[type="submit"]:focus {
    border-color: #F4BD67;
}