html{
    height: 1vh;
}

body{
    text-align: center;
    margin: 0 auto;
    padding: 150px 0 0 0;
}

a{
    text-decoration: none;
    color: black;
}

// ヘッダー
@import "../parts/header";



section{
    h1{
        font-size: 30px;
        margin-bottom: -70px;
        text-align: left;
        padding-left: 50px;
        height: 50px;
    }
}

.section_content{
    width: 600px;
    margin: 100px 40px;
    text-align: left;
    h2{
        font-size:24px;
    }
}

.section_content2{
    display: none;
    width: 600px;
    margin: 100px 40px;
    text-align: left;
    h2{
        font-size:24px;
    }
}

// クライアント情報編集ボックス
@import "../parts/client_info";



// ページ遷移ボタン
.client_buttons{
    width: 700px;
    display: flex;
    justify-content: space-around;
    button{
        font-size: 20px;
        width: 600px;
        height:70px;
        background-color: #55c500;
        opacity: 0.8;
        margin-top: 30px;
        &:hover{
            opacity: 1;
            text-decoration: underline black;
        }
    }
}

.page_buttons{
    width: 0px;
    display: flex;
    justify-content: space-around;
    button{
        font-size: 20px;
        width: 600px;
        height:70px;
        background-color: #55c500;
        opacity: 0.8;
        margin-top: 30px;
        &:hover{
            opacity: 1;
            text-decoration: underline black;
        }
    }
}


@import "../parts/login";

.login-container {
    height: 500px;
    padding: 20px;
}

.login{
    margin-top: 0;
}

.pass_change{
    font-size: 25px;
}

.top_top{
    display: flex;
    margin-bottom: -125px;
}

.section_top{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-bottom: 30px;
    h3{
        font-size: 20px;
        width: 200px;
        margin-top:7px;
        margin-left: 40px;
    }
    span {
        background-color: #fff;
        box-shadow:  3px 3px 10px rgba(0, 0, 0, 0.4);
        padding: 5px 10px;
        font-size: 40px;
        margin-right: 10px;
    }
}

.invoice_info{
    display: flex;
    width: 73%;
    height: 70px;
    background-color: #fff;
    box-shadow:  3px 3px 10px rgba(0, 0, 0, 0.4);
    padding: 0 10px;
    box-sizing: border-box;
    font-size: 20px;
    h2{
        line-height: 70px;
    }

    .number{
        width: 30%;
    }
}

.main_contents{
    display: flex;
}

.content_right{
    padding: 100px 0;
}