.contact-table {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

.step {
    span {
        width: 8rem;
        height: 8rem;
        font-size: 3.3rem;

        &::after {
            content: '';
            width: 16.5rem;
            height: 0.1rem;
            display: inline-block;
            background-color: #337ab7;
            position: relative;
            bottom: 6rem;
            left: 6.4rem;
            z-index: 1;
        }
    }
}

.title {
    display: flex;
    justify-content: space-between;
    margin: 0 3rem;
    width: 40rem;
    height: 14rem;

    img {
        height: 14rem;
        vertical-align: 50%;
    }


    h1 {
        line-height: 17rem;
        font-size: 6rem;
    }
}