.contact-table {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}


.step {
    display: flex;
    justify-content: space-around;

    span {
        display: block;
        background-color: #44B59A;
        color: #fff;
        border-radius: 1000px;
        width: 4.7rem;
        height: 4.7rem;
        padding: 0.5em;
        font-size: 2.2rem;
        margin: 1rem auto;
        z-index: 10;

        &::after {
            content: '';
            width: 21.5rem;
            height: 0.1rem;
            display: inline-block;
            background-color: #337ab7;
            position: relative;
            bottom: 2.15rem;
            left: 2.1rem;
            z-index: 1;
        }
    }
}
