.contact-table {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}


.step {
    span {
        width: 6rem;
        height: 6rem;
        font-size: 2rem;
        &::after {
            content: '';
            width: 21.5rem;
            height: 0.1rem;
            display: inline-block;
            background-color: #337ab7;
            position: relative;
            bottom: 2.15rem;
            left: 2.1rem;
            z-index: 1;
        }
    }
}


.title {
    display: flex;
    justify-content: space-between;
    margin: 0 3rem;
    width: 34rem;
    height: 10rem;

    img {
        height: 10rem;
        vertical-align: 50%;
    }


    h1 {
        line-height: 8rem;
        font-size: 5rem;
    }
}