header {
    height: 60px;
    width: 100%;
    color: #fff;
    background-color: #44B59A;
    font-size: 25px;
    text-align: center;
    line-height: 60px;

    span {
        font-size: 18px;
    }
}


