body{
    text-align: center;
    margin: 0 auto;
}

header {
    height: 60px;
    width: 100%;
    color: #fff;
    background-color: #44B59A;
    font-size: 25px;
    text-align: center;
    line-height: 60px;

    span {
        font-size: 18px;
    }
}

section{
    h1{
        font-size: 40px;
    }
}

.section_content{
    width: 500px;
    margin: 100px auto;
    text-align: left;
}

.cliant_info{
    display: flex;
    background-color: #888;
    width: 100%;
    img
}