@import 'mixin';
$bgcolor : #44B59A;
html{
  fo
}

li{
  list-style: none;
}
a{
  text-decoration: none;
  color: black;
}
body{
  background-color: rgba(204, 204, 204,.1);
  overflow-x: hidden!important;
  position: relative;
  font-family: "Helvetica", "Arial", "Hiragino Kaku Gothic ProN", "Hiragino Sans", YuGothic, "Yu Gothic", "メイリオ", Meiryo, sans-serif;
}

.main{
  width: 85vw;
  margin: 0 auto;
  position: relative;
  z-index: 90;
  // display: flex;
  // justify-content: space-between;
  // & article{
  //   width: 75%;
  // }
  // & aside{
  //   width: 22%;
  // }
  display: flex;
  justify-content: space-between;
  & article{
    width: 70%;
  }
  & aside{
    width: 22%;
    position: fixed;
    top: 200px;
    left: 72%;
    // margin-top: 200px;
  }
}

.rader{
  width: 500px;
  height: 300px;
}

footer{
  background-color: $bgcolor;
  height: 50px;
  padding: 20px;
  & p{
    color: #fff;
  }
}

aside{
  & .search{
    margin-bottom: 30px;
    & p{
      font-size: 24px;
      background-color: #80cbc4;
      color: #fff;
      font-weight: 800;
      padding: 5px 20px; 
    }
    &-box{
      display: flex;
      justify-content: space-between;
      padding: 10px;
      height: 6vh;
      & input{
        background-color: #fff;
        padding: 20px 20px ;
        box-shadow: 2px 2px 5px rgba($color: #000000, $alpha: 0.6);
        width: 80%;
      }
      &_icon{
        background-color: #44B59A;
        text-align: center;
        padding: 20px 0;
        width: 20%;
        box-shadow: 2px 2px 5px rgba($color: #000000, $alpha: 0.6);
        background-image: url(img/虫眼鏡.png);
        background-position: center center;
        background-size: 25px 25px;
        & img{
          width: 30%;
        }
      }
    }
  }
  
  & .category{
    margin-bottom: 30px;
    height: 42vh;
    &-title{
      position: relative;
      font-size: 24px;
      background-color: #80cbc4;
      color: #fff;
      padding: 5px 20px;
      & button{
        position: absolute;
        top: 50%;
        right: 5%;
        transform: translateY(-50%);
        font-size: 18px;
        color: #000000;
        background-color: rgb(255, 162, 0);
        padding: 5px 10px;
        font-weight: 600;
      }
    }
    &-box{
      padding: 10px;
    }
    & label{
      font-size: 18px;
      white-space: nowrap;
      margin-right: 10px;
    }
    & p{
      font-weight: 800;
      margin-top: 10px;
      border-bottom: #44B59A solid 2px;
    }
  }
  
  & .shuffle{
    height: 20vh;
    margin-bottom: 30px;
    & p{
      font-size: 24px;
      background-color: #80cbc4;
      color: #fff;
      font-weight: 800;
      padding: 5px 20px; 
    }
    & select{
      background-color: #fff;
      padding: 10px 20px ;
      width: 90%;
      box-shadow: 2px 2px 5px rgba($color: #000000, $alpha: 0.6);
      background-image: url(img/iconmonstr-angel-down-circle-thin-240.png);
      background-position: right 5px center;
      background-size: 25px 25px;
    }
    &-box{
      padding: 10px;
    }
  }
}





@import "parts/header";
@import "parts/firstLogo";
@import "parts/step";
@import "parts/agentlist";
@import "parts/modal";
@import "parts/compare";
@import "parts/cart";
@import "parts/card";

header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100px;
  text-align: center;
  // font-size: 3em;
  line-height: 100px;
  z-index: 999;
  // overflow: hidden;
  & nav{
    display: flex;
    justify-content: space-around;
    color: #fff;
    margin-top: -70px;
    // & h5{
    //   margin-top: 12px;
    // }
  }
  & .mobile-menu-icon {
    display: none;
    position: absolute;
    left: 85%;
    top: 50%;
    transform: translateY(-50%);
    background-color: unset;
    border: none;
    outline: none !important;
    cursor: pointer;
    z-index: 9999;
    & > span {
        background-color: black;
        width: 35px;
        height: 3px;
        display: block;
        margin-bottom: 9px;
        transition: transform 0.7s;

        &:last-child {
            margin-bottom: 0;
        }
    }
}
  & .menu-content{
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 100%;
    top: 0;
    transition: transform 0.5s ease;
    z-index: 999;
    & .search{
      margin-bottom: 30px;
      & p{
        font-size: 16px;
        background-color: #80cbc4;
        color: #fff;
        font-weight: 800;
        padding: 5px 20px; 
      }
      &-box{
        display: flex;
        justify-content: space-between;
        padding: 10px;
        height: 6vh;
        & input{
          background-color: #fff;
          padding: 20px 20px ;
          box-shadow: 2px 2px 5px rgba($color: #000000, $alpha: 0.6);
          width: 80%;
        }
        &_icon{
          background-color: #44B59A;
          text-align: center;
          padding: 20px 0;
          width: 20%;
          box-shadow: 2px 2px 5px rgba($color: #000000, $alpha: 0.6);
          background-image: url(img/虫眼鏡.png);
          background-position: center center;
          background-size: 25px 25px;
          & img{
            width: 30%;
          }
        }
      }
    }
    
    & .category{
      margin-bottom: 30px;
      height: 42vh;
      &-title{
        position: relative;
        font-size: 16px;
        background-color: #80cbc4;
        color: #fff;
        padding: 5px 20px;
        & button{
          position: absolute;
          top: 50%;
          right: 5%;
          transform: translateY(-50%);
          font-size: 18px;
          color: #000000;
          background-color: rgb(255, 162, 0);
          padding: 5px 10px;
          font-weight: 600;
        }
      }
      &-box{
        padding: 10px;
      }
      & label{
        font-size: 18px;
        white-space: nowrap;
        margin-right: 10px;
        color: #000000;
      }
      & p{
        font-weight: 800;
        margin-top: 10px;
        border-bottom: #44B59A solid 2px;
      }
    }
    
    & .shuffle{
      height: 20vh;
      margin-bottom: 30px;
      & p{
        font-size: 16px;
        background-color: #80cbc4;
        color: #fff;
        font-weight: 800;
        padding: 5px 20px; 
      }
      & select{
        background-color: #fff;
        padding: 10px 20px ;
        width: 90%;
        box-shadow: 2px 2px 5px rgba($color: #000000, $alpha: 0.6);
        background-image: url(img/iconmonstr-angel-down-circle-thin-240.png);
        background-position: right 5px center;
        background-size: 25px 25px;
      }
      &-box{
        padding: 10px;
      }
    }
    & h1{
      font-size: 35px;
    }
    & a{
      font-size: 40px;
      color: orange;
      font-weight: bold;
      &:hover{
        &:before{
        font-family: "Font Awesome 5 Free";
        content: "\f101";
        display: inline-block;
        transform: translateX(-150%);
        text-decoration: none;
      }
    }
    }
    & li{
      opacity: 0;
    }
  }
  & .inview{
    transform: translateX(-100%);
    & li{
      @include animation($name:fadeIn,$duration:1.5s);
      @for $i from 2 through 6 {
        &:nth-child(#{$i}) {
            animation-delay: $i *0.2s;
        }
    }
    border-bottom: dotted 2px rgba(0, 0, 0, 0.5);
    & :hover{
      text-decoration: underline;
      opacity: .7;
    }
    }
  }
  & .menu-open {
        & > span {
            &:nth-child(1) {
                transition-delay: 70ms;
                transform: translateY(11px) rotate(135deg);
            }
            &:nth-child(2) {
                transition-delay: 0s;
                transform:  translateX(-18px) scaleX(0);
            }
            &:nth-child(3) {
                transition-delay: 140ms;
                transform: translateY(-11px) rotate(-135deg);
            }
    }
}
}
@keyframes fadeIn{
  0%{
    transform: translateX(-50%);
    opacity: 0;
  }
  100%{
    transform: none;
    opacity: 1;
  }
}

@media (max-width: 399px) {
  @import "breakpoints/_400Down.scss";
}
@media (min-width:400px) and (max-width:599px) {
  @import "breakpoints/_600Down.scss";
}
@media (min-width:600px )and (max-width: 899px) {
  @import "breakpoints/_900Down.scss";
}
@media only screen and (max-width: 912px), only screen and (hover: none){
  body{
    .dos{
      display: none
    }
  }
}
@import "parts/add";


// なおき
.cart_top{
  margin-top: 5rem;
  text-align: center;
  h1{
    font-size: 2.5rem;
  }
  p{
    margin-top: 2rem;
  }
}

.footer {
  margin-top: 25rem;
  text-align: center;

  a {
      margin: 0 auto;
      font-size: 1.3rem;
      color: #337ab7;
  }
}
