$bgcolor : #44B59A;

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

body {
    overflow-x: hidden !important;
    padding: 135px 10px 0 10px;
    background-color: #e5e5e5;
}

section {
    h2 {
        font-size: 25px;
    }
}


.section_main {
    margin: 5px auto;
    width: 1000px;
    height: 490px;
    background-color: #e5e5e5;
    box-sizing: border-box;
    padding: 10px;
}

.main {
    width: 60vw;
    margin: 0 auto;
    position: relative;
    z-index: 90;
}


// ヘッダー
@import "../parts/header";
// 掲載情報コンテンツ
@import "../parts/agentlist";
//コンテンツカード
@import "../parts/card";
//契約情報
@import "../parts/contract_info";



// ページ内遷移ヘッダー
.page_change{
    display: none;
    background-color: #B6D7A8;
    position: fixed;
    z-index: 900;
    top: 120px;
    left: 0;
    button{
        display: block;
        font-size: 20px;
        margin:10px;
        &:hover{
            text-decoration: underline;
        }
    }
}

// 詳細ページを最初非表示にしておく
#detail{
    display: none;
}

// 契約情報ページを最初非表示にしておく
#info{
    display: none;
}

h1{
    font-size: 35px;
}

// 編集申請ボタン
.edit_request {
    position: fixed;
    text-decoration: none;
    right: 5px;
    bottom: 5px;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FF9538;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    margin: 10px;
    text-align: center;
    line-height: 1.3;
    font-weight: bold;
    border: 3px solid #fcfafa;
    a{
        color: #fff;
    }
}

.pages_button{
    img{
        height: 37px;
        vertical-align: -10%;
    }
    h1{
        di
    }
}