$bgcolor : #44B59A;

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

body {
    overflow-x: hidden !important;
}

body {
    padding: 160px 10px 0 10px;
}

@import "../parts/header";
@import "../parts/agentlist";



.section_main {
    margin: 5px auto;
    width: 1000px;
    height: 490px;
    background-color: #e5e5e5;
    box-sizing: border-box;
    padding: 10px;
}





.main {
    width: 90%;
    margin: 0 auto;
    position: relative;
    z-index: 90;
    // display: flex;
    // justify-content: space-between;
    // & article{
    //   width: 75%;
    // }
    // & aside{
    //   width: 22%;
    // }
}

.first {
    margin: 0 auto;
    margin-top: 134px;

    &-logo {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;

        & h1 {
            font-size: 50px;
        }
    }

    & h4 {
        text-align: center;
    }
}








.blacky {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    z-index: 100;
}

.white {
    width: 100%;
    height: 100%;
    transform: translateY(-100%);
}

.compares {
    // display: flex;
    // justify-content: space-around;
    margin-top: 140px;

    & .return {
        text-align: center;
        display: none;

        & button {
            background-color: orange;
            border-radius: 10px;
            padding: 10px 20px;
        }
    }
}

.agentBattle {
    width: 45%;
    margin: 0 auto;
    transition: transform .6s;
    z-index: -1;
    margin-top: 134px;
    text-align: center;

    & .compare-item {
        margin: 50px 0;
    }

    & h4 {
        font-size: 20px;
        border-bottom: rgba(255, 165, 0, .6) solid 2px;
        margin-bottom: 30px;
        text-align: left;
    }

    & h1 {
        font-size: 45px;
        text-align: center;

        & span {
            font-size: 20px;
        }
    }

    &-img {
        text-align: center;

        & img {
            width: 300px;
            height: 300px;
            object-fit: cover;
        }
    }

    &-lader {
        text-align: center;

        & h4 {
            text-align: left;
        }

        & img {
            width: 440px;
            height: 280px;
        }
    }

    &-category {
        margin: 20px 0;

        & ul {
            display: flex;

            & li {
                margin-right: 20px;
                margin-top: 10px;
                background-color: rgb(73, 219, 143);
                padding: 5px 10px;
                border-radius: 5px;
                font-weight: 800;
                width: 20%;
                text-align: center;
            }
        }
    }

    &-detail {
        text-align: center;

        & button {
            background-color: rgba(255, 94, 0, 0.7);
            font-weight: 700;
            padding: 10px 30px;
            border-radius: 10px;
            width: 30%;
            margin: 60px auto;
        }

        & a {
            color: #fff;
        }
    }

    &-cart {
        text-align: center;

        & button {
            background-color: rgba(255, 0, 0, .7);
            font-weight: 700;
            padding: 10px 30px;
            border-radius: 10px;
            width: 30%;
            margin: 60px auto;
            color: #fff;

            & img {
                width: 25px;
                height: 22px;
            }
        }
    }

    &-link {
        & a {
            color: rgb(0, 174, 255);
            display: block;
            text-align: center;
            font-size: 20px;
        }
    }
}

.uno {
    position: absolute;
    top: 0;
    left: 5%;
    transform: translateX(-120%);
}

.dos {
    position: absolute;
    top: 0;
    right: 5%;
    transform: translateX(120%);
}

.trans {
    transform: translateX(0%);
}


.cartBox {
    position: fixed;
    bottom: 10%;
    right: 1%;
    width: 15%;
    height: 30vh;
    border: rgb(50, 135, 80) solid 1px;
    box-shadow: 2px 2px 5px rgba(82, 212, 181, .3);
    padding: 10px;
    z-index: 99;
    background-color: #fff;
    display: none;

    &-title {
        font-weight: 700;
        margin-bottom: 20px;
    }

    & li {
        font-weight: 900;
        font-size: 20px;
        margin-bottom: 5px;

        &:last-child {
            margin-bottom: 20px;
        }
    }

    &-count {
        & span {
            background-color: #ccc;
            padding: 5px;
        }
    }

    & button {
        position: absolute;
        bottom: 3%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #EA5F5F;
        padding: 10px 20px;

        & a {
            color: white;
        }
    }
}

.cartImg {
    position: fixed;
    right: .5%;
    bottom: 1%;
    cursor: pointer;

    & img {
        width: 60px;
        height: 60px;
    }
}

.block {
    display: block;
}

.card {
    // FUNCTIONALITY
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 500px;
    width: 30%;

    &__side {
        height: 52rem;
        transition: all 0.8s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 600px;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-radius: 3px;
        overflow: hidden;
        box-shadow: 0 1.5rem 4rem rgba(#000000, 0.15);

        &--front {
            background-color: wheat;
        }

        &--back {
            transform: rotateY(180deg);

            &-1 {
                //  background-image: linear-gradient(
                //   to right bottom,
                //   rgb(73, 219, 143),
                //   rgba(50, 139, 74, .8),
                //   rgba(35, 67, 51, .8)
                // ),
                background-color: wheat;
            }

            &-2 {
                //  background-image: linear-gradient(
                //   to right bottom,
                //   rgb(73, 219, 143),
                //   rgba(50, 139, 74, .8),
                //   rgba(35, 67, 51, .8)
                // ),
                background-color: wheat;
            }

            &-3 {
                //  background-image: linear-gradient(
                //   to right bottom,
                //   rgb(73, 219, 143),
                //   rgba(50, 139, 74, .8),
                //   rgba(35, 67, 51, .8)
                // ),
                background-color: wheat;
            }

            &-4 {
                background-image: linear-gradient(to right bottom,
                        rgba(35, 209, 240, 0.8),
                        rgba(17, 115, 228, 0.8),
                        rgba(1, 63, 235, 0.8)),
            }

            &-5 {
                background-image: linear-gradient(to right bottom,
                        rgba(35, 209, 240, 0.8),
                        rgba(17, 115, 228, 0.8),
                        rgba(1, 63, 235, 0.8)),
            }
        }
    }

    &:hover &__side--front {
        transform: rotateY(-180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0);
    }

    // FRONT SIDE STYLING
    &__picture {
        background-size: cover;
        height: 23rem;
        background-blend-mode: screen;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;

        &--1 {
            background-image: linear-gradient(to right top,
                    rgb(73, 219, 143),
                    rgba(50, 139, 74, .8),
                    rgba(35, 67, 51, .8)),
                url(../img/career.jpg);
            background-size: contain;
        }

        &--2 {
            background-image: linear-gradient(to right top,
                    rgb(73, 219, 143),
                    rgba(50, 139, 74, .8),
                    rgba(35, 67, 51, .8)),
                url(../img/info.jpg);
            background-size: contain;
        }

        &--3 {
            background-image: linear-gradient(to right top,
                    rgb(73, 219, 143),
                    rgba(50, 139, 74, .8),
                    rgba(35, 67, 51, .8)),
                url(../img/zemi.jpg);
            background-size: contain;
        }

        &--4 {
            background-image: linear-gradient(to right bottom,
                    rgba(55, 202, 15, 0.6),
                    rgba(50, 139, 74, 0.6),
                    rgba(43, 95, 69, 0.6)),
                url(../freePage/img/tower-pretty.jpg);
            background-size: contain;
        }

        &--5 {
            background-image: linear-gradient(to right bottom,
                    rgba(35, 209, 240, 0.6),
                    rgba(17, 115, 228, 0.6),
                    rgba(1, 63, 235, 0.6)),
                url(../freePage/img/おのかん自転車.jpg);
            background-size: contain;
        }

        &--6 {
            background-image: linear-gradient(to right bottom,
                    rgba(35, 209, 240, 0.8),
                    rgba(17, 115, 228, 0.8),
                    rgba(1, 63, 235, 0.8)),
                url(../freePage/img/はつモーで.jpg);
            background-size: contain;
        }

        &--7 {
            background-image: linear-gradient(to right bottom,
                    rgba(35, 209, 240, 0.8),
                    rgba(17, 115, 228, 0.8),
                    rgba(1, 63, 235, 0.8)),
                url(../freePage/img/ボドゲこうへい.jpg);
            background-size: contain;
        }
    }

    &__heading {
        font-size: 25px;
        font-weight: 300;
        text-transform: uppercase;
        text-align: right;
        position: absolute;
        top: 12rem;
        right: 2rem;
        width: 75%;
    }

    &__heading-span {
        padding: 1rem 1.5rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
        white-space: nowrap;

        &--1 {
            background-color: rgba(245, 222, 179, 0.8);
            // background-image: linear-gradient(
            //   to right bottom,
            //   rgba(orange, 0.4),
            //   rgba(orangered, 0.4)
            // );
        }

        &--2 {
            background-color: rgba(245, 222, 179, 0.8);
            // background-image: linear-gradient(
            //   to right bottom,
            //   rgba(orange, 0.4),
            //   rgba(orangered, 0.4)
            // );
        }

        &--3 {
            background-color: rgba(245, 222, 179, 0.8);
            // background-image: linear-gradient(
            //   to right bottom,
            //   rgba(orange, 0.4),
            //   rgba(orangered, 0.4)
            // );
        }

        &--4 {
            background-color: rgba(245, 222, 179, 0.8);
            // background-image: linear-gradient(
            //   to right bottom,
            //   rgba(orange, 0.4),
            //   rgba(orangered, 0.4)
            // );
        }

        &--5 {
            background-color: rgba(245, 222, 179, 0.8);
            // background-image: linear-gradient(
            //   to right bottom,
            //   rgba(orange, 0.4),
            //   rgba(orangered, 0.4)
            // );
        }
    }

    &__details {
        padding: 3rem;
    }

    // FRONT SIDE STYLING
    &__cta {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        text-align: center;

        &>p {
            text-align: left;

            & span {
                font-size: 20px;
                font-weight: 600;
                color: #18bd7b;
            }
        }

        & p {
            color: black;
        }
    }

    &__price-box {
        text-align: center;
        color: black;
    }

    &__price-only {
        font-size: 1.4rem;
        text-transform: uppercase;
        font-weight: 800;
    }

    &__price-value {
        white-space: nowrap;
        font-size: 40px;
        font-weight: 100;
    }

    &__price-photo {
        min-height: 200px;
        min-width: 200px;
        border-radius: 50%;
        text-align: center;
        object-fit: cover;
    }

    //@include respond(tab-port) {
    @media only screen and (max-width: 912px),
    only screen and (hover: none) {
        height: auto;
        border-radius: 3px;
        background-color: wheat;
        box-shadow: 0 1.5rem 4rem rgba(#000000, 0.15);

        &__side {
            height: auto;
            position: relative;
            box-shadow: none;

            &--back {
                transform: rotateY(0);
                clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
            }
        }

        &:hover &__side--front {
            transform: rotateY(0);
        }

        &__details {
            padding: 1rem 3rem;
        }

        // FRONT SIDE STYLING
        &__cta {
            position: relative;
            top: 0%;
            left: 0;
            transform: translate(0);
            width: 100%;
            padding: 7rem 4rem 4rem 4rem;
        }

        // &__price-box {
        //   margin-bottom: 3rem;
        // }

        &__price-value {
            font-size: 20px;
        }
    }
}


.scroll {
    display: flex;
    justify-content: space-between;

    & .col-1-of-3 {
        width: 100%;

        & .card {
            width: 90%;
            margin: 30px auto;
        }
    }

    // &-1 {
    //   position: absolute;
    //   top: 0%;
    //   left: 0%;
    //   width: 30%;
    // }
    // &-2 {
    //   position: absolute;
    //   top: 0%;
    //   left: 35%;
    //   width: 30%;
    // }
    // &-3 {
    //   position: absolute;
    //   top: 0%;
    //   right: 0%;
    //   width: 30%;
    // }
}

.red {
    border: red solid 2px;
}

.rader {
    width: 500px;
    height: 300px;
}

footer {
    background-color: $bgcolor;
    height: 50px;
    padding: 20px;

    & p {
        color: #fff;
    }
}

.contact-ttl {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 40px;
    text-align: center;
}

.contact-table {
    width: 80%;
    margin: 50px auto;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

.contact-item,
.contact-body {
    padding: 20px;
    border: 1px solid #ccc;
}

.contact-item {
    text-align: left;
    width: 20%;
    background-color: #eee;
}

.contact-body {
    width: 70%;
}

.form-text {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    max-width: 400px;
}

.contact-sex+.contact-sex {
    margin-left: 10px;
}

.contact-sex-txt {
    display: inline-block;
    margin-left: 5px;
}

.form-select {
    width: 180px;
    height: 40px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-skill {
    display: block;
}

.contact-skill+.contact-skill {
    margin-top: 10px;
}

.contact-skill-txt {
    display: inline-block;
    margin-left: 5px;
}

.form-textarea {
    width: 100%;
    padding: 10px;
    height: 200px;
    border-radius: 5px;
    border: 1px solid #ccc;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.contact-submit {
    width: 250px;
    background-color: #333;
    color: #fff;
    font-weight: bold;
    display: block;
    margin: 0 auto;
    font-size: 16px;
    padding: 15px;
    border-radius: 100vh;
    border: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}

section {
    h2 {
        font-size: 25px;
    }
}

table {
    border-collapse: collapse;
    margin: 0 auto;
    padding: 0;
    width: 850px;
    table-layout: fixed;
}

table tr {
    background-color: #fff;
    border: 2px solid #eee;
}

table tr:last-child {
    border: none;
}

table th {
    width: 120px;
    padding: 10px 0;
    border-right: 2px solid #fff;
}

table td {
    border-right: 2px solid #eee;
    text-align: center;
    padding: 5px;
    li{
        margin-right: 0 !important;
        margin-left: 20px !important;
        margin-top: 0 !important;
    }
}

table th {
    font-size: .85em;
}

table thead tr {
    background-color: #50535d;
    color: #fff;
}

table tbody th {
    border-right: 2px solid #eee;
}

th.non {
    border-right: none;
}

.txt {
    text-align: left;
    font-size: .85em;
}

.price {
    color: #000;
    font-size: .85em;
}

.price span {
    font-size: .6em;
}

.graph_number {
    width: 50px;
    height: 50px;
}

#input_plural {
    margin: 10px 0;
}

#input_plural input.form-control {
    display: inline-block;
    width: 75%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    color: #555;
}

#input_plural input.pluralBtn {
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 5px;
    padding: 0;
    margin: 0;
}

#detail{
    display: none;
}

#info{
    display: none;
}

.page_change{
    background-color: white;
    position: fixed;
    z-index: 900;
    top: 16%;
    button{
        font-size: 20px;
        margin: 0 10px;
        &:hover{
            text-decoration: underline;
        }
    }
}

h1{
    font-size: 35px;
}

.edit_request {
    position: fixed;
    text-decoration: none;
    right: 5px;
    bottom: 5px;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FF9538;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    margin: 10px;
    text-align: center;
    line-height: 1.3;
    font-weight: bold;
    border: 3px solid #fcfafa;
    a{
        color: #fff;
    }
}