html {
  font-size: 1vw;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

body {
  overflow-x: hidden !important;
}

body {
  text-align: center;
  margin: 0 auto;
  padding: 90px 1rem 0 1rem;
}

header {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0%;
  width: 100vw;
  background-color: #44B59A;
  color: #fff;
  text-align: center;
  height: 80px;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #fff;
}

header nav h5 {
  margin-top: 12px;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 3rem;
  width: 20rem;
  height: 7rem;
}

.title img {
  height: 7rem;
  vertical-align: 50%;
}

.title h1 {
  line-height: 8rem;
  font-size: 3rem;
}

.step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.step span {
  display: block;
  background-color: #c4c4c4;
  color: #000;
  border-radius: 1000px;
  width: 4rem;
  height: 4rem;
  padding: 0.5em;
  font-size: 1.6rem;
  margin: 1rem auto;
  z-index: 10;
}

.step span::after {
  content: '';
  width: 21.4rem;
  height: 0.1rem;
  display: inline-block;
  background-color: #c4c4c4;
  position: relative;
  bottom: 2.7rem;
  left: 2rem;
  z-index: 1;
}

.step .color {
  background-color: #44B59A;
  color: #fff;
}

.step .color::after {
  background-color: #44B59A;
  height: 0.3rem;
}

.step .step4::after {
  display: none !important;
}

.step div {
  width: 30%;
}

.contact-ttl {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 40px;
  text-align: center;
}

.contact-table {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 20px;
  border: 1px solid #ccc;
}

.contact-item,
.contact-body {
  padding: 1rem 1rem;
  border: 1px solid #ccc;
}

.contact-item {
  text-align: left;
  width: 20%;
  background-color: #eee;
}

.contact-body {
  width: 70%;
}

.form-text {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  max-width: 400px;
}

.contact-sex + .contact-sex {
  margin-left: 10px;
}

.contact-sex-txt {
  display: inline-block;
  margin-left: 5px;
}

.form-select {
  width: 180px;
  height: 40px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-skill {
  display: block;
}

.contact-skill + .contact-skill {
  margin-top: 10px;
}

.contact-skill-txt {
  display: inline-block;
  margin-left: 5px;
}

.form-textarea {
  width: 100%;
  padding: 10px;
  height: 200px;
  border-radius: 5px;
  border: 1px solid #ccc;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.contact-submit {
  width: 250px;
  background-color: #F37E12;
  color: #fff;
  font-weight: bold;
  display: block;
  margin: 2rem auto;
  font-size: 16px;
  padding: 15px;
  border-radius: 100vh;
  border: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  opacity: 1;
}

.contact-submit:hover {
  opacity: 0.8;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  padding: 0;
  width: 850px;
  table-layout: fixed;
}

table tr {
  background-color: #fff;
  border: 2px solid #eee;
}

table tr:last-child {
  border: none;
}

table th {
  width: 120px;
  padding: 10px 0;
  border-right: 2px solid #fff;
}

table td {
  border-right: 2px solid #eee;
  text-align: center;
  padding: 5px;
}

table th {
  font-size: 1rem;
}

table thead tr {
  background-color: #50535d;
  color: #fff;
}

table tbody th {
  border-right: 2px solid #eee;
}

th.non {
  border-right: none;
}

.txt {
  text-align: left;
  font-size: .85em;
}

.price {
  color: #000;
  font-size: .85em;
}

.price span {
  font-size: .6em;
}

.graph_number {
  width: 50px;
  height: 50px;
}

#input_plural {
  margin: 10px 0;
}

#input_plural input.form-control {
  display: inline-block;
  width: 75%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  color: #555;
}

#input_plural input.pluralBtn {
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  background: #fff;
  border-radius: 5px;
  padding: 0;
  margin: 0;
}

form {
  margin: 3rem 0;
}

.check {
  padding: 3rem 0;
}

.check table tbody th {
  border: none;
}

.check table {
  border-collapse: collapse;
  margin: 0 auto;
  padding: 0;
  width: 30rem;
  table-layout: fixed;
  text-align: left;
}

.check table tr {
  background-color: #fff;
  border: none;
  text-align: revert;
}

.check table tr:last-child {
  border: none;
}

.check table th {
  display: block;
  width: 13rem;
  border-right: none;
  font-size: 1.7rem;
  font-weight: normal;
  margin: 0 -16rem;
}

.check table td {
  border-right: none;
  text-align: center;
  padding: 1rem;
  font-size: 1.7rem;
  width: 100%;
  font-weight: normal;
}

.check table td h3 {
  font-weight: normal;
  text-align: left;
}

.success {
  margin: 5rem;
}

.success span {
  color: #F37E12;
}

.success h1 {
  font-size: 3rem;
  margin: 3rem 0;
}

.footer {
  margin-top: 11rem;
}

.footer a {
  margin: 3rem;
  font-size: 1.3rem;
  color: #337ab7;
}

@media (max-width: 399px) {
  .contact-table {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
    border: 1px solid #ccc;
  }
  .step span {
    width: 9rem;
    height: 9rem;
    font-size: 3.7rem;
  }
  .step span::after {
    content: '';
    width: 16rem;
    bottom: 6.8rem;
    left: 6.7rem;
  }
  .color::after {
    height: 0.6rem !important;
    bottom: 6.5rem !important;
  }
  .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 3rem;
    width: 40rem;
    height: 14rem;
  }
  .title img {
    height: 14rem;
    vertical-align: 50%;
  }
  .title h1 {
    line-height: 17rem;
    font-size: 6rem;
  }
  .check table td {
    font-size: 4.7rem;
    width: 61rem;
  }
  .check table th {
    font-size: 3rem;
    margin: 0 -18rem;
    width: 19rem;
  }
}

@media (min-width: 400px) and (max-width: 599px) {
  .contact-table {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
    border: 1px solid #ccc;
  }
  .step span {
    width: 9rem;
    height: 9rem;
    font-size: 3.7rem;
  }
  .step span::after {
    width: 16rem;
    bottom: 6.8rem;
    left: 6.7rem;
  }
  .color::after {
    height: 0.6rem !important;
    bottom: 6.5rem !important;
  }
  .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 3rem;
    width: 40rem;
    height: 14rem;
  }
  .title img {
    height: 14rem;
    vertical-align: 50%;
  }
  .title h1 {
    line-height: 17rem;
    font-size: 6rem;
  }
  .check table td {
    font-size: 4.7rem;
    width: 61rem;
  }
  .check table th {
    font-size: 3rem;
    margin: 0 -18rem;
    width: 19rem;
  }
}

@media (min-width: 600px) and (max-width: 899px) {
  .contact-table {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
    border: 1px solid #ccc;
  }
  .step span {
    width: 9rem;
    height: 9rem;
    font-size: 3.7rem;
  }
  .step span::after {
    width: 16rem;
    bottom: 6.8rem;
    left: 6.7rem;
  }
  .color::after {
    height: 0.6rem !important;
    bottom: 6.5rem !important;
  }
  .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 3rem;
    width: 40rem;
    height: 14rem;
  }
  .title img {
    height: 14rem;
    vertical-align: 50%;
  }
  .title h1 {
    line-height: 17rem;
    font-size: 6rem;
  }
  .check table td {
    font-size: 3.5rem;
    width: 63rem;
  }
  .check table th {
    font-size: 3rem;
    margin: 0 -16rem;
    width: 19rem;
  }
}
/*# sourceMappingURL=style.css.map */