body {
    text-align: center;
    margin: 0 auto;
    padding: 140px 10px 0 10px;
    b
}

a {
    text-decoration: none;
    color: black;
}


.section_main {
    width: 1000px;
    height: 480px;
    box-sizing: border-box;
    padding: 10px;
}


@import "../parts/header";

@import "../parts/search";

@import "../parts/table";

// .search_container {
//     margin: 0 auto;
//     width: 33%;
// }

.section_header {
    width: 33%;
}

.section_top{
    display: flex;
    h3{
        font-size: 20px;
        width: 200px;
        margin-top:7px;
        margin-left: 40px;
    }
    span {
        background-color: #eee;
        padding: 5px 10px;
        font-size: 40px;
    }
}

.section_content{
    display: flex;
    padding: 10px;
}

.section_side{
    width: 17%;
    text-align: left;
    padding: 20px;
    font-size: 20px;
    background-color: aquamarine;
    h3{
        margin: 10px 0;
    }
}

.invoice_info{
    display: flex;
    width: 100%;
    height: 70px;
    background-color: aqua;
    font-size: 20px;
    h2{
        line-height: 70px;
    }

    .number{
        width: 36%;
    }
}

.main_box{
    padding: 0 20px;
}