$bgcolor : #44B59A;
li{
  list-style: none;
}
a{
  text-decoration: none;
  color: black;
}
body{
  overflow-x: hidden;
  position: relative;
  font-family: "Helvetica", "Arial", "Hiragino Kaku Gothic ProN", "Hiragino Sans", YuGothic, "Yu Gothic", "メイリオ", Meiryo, sans-serif;
}

.main{
  width: 80vw;
  margin: 0 auto;
  position: relative;
  z-index: 90;
  // display: flex;
  // justify-content: space-between;
  // & article{
  //   width: 75%;
  // }
  // & aside{
  //   width: 22%;
  // }
}

.rader{
  width: 500px;
  height: 300px;
}

footer{
  background-color: $bgcolor;
  height: 50px;
  padding: 20px;
  & p{
    color: #fff;
  }
}


@import "parts/header";
@import "parts/firstLogo";
@import "parts/step";
@import "parts/agentlist";
@import "parts/modal";
@import "parts/compare";
@import "parts/cart";
@import "parts/card";

@media (max-width: 399px) {
  @import "breakpoints/_400Down.scss";
}
@media (min-width:400px) and (max-width:599px) {
  @import "breakpoints/_600Down.scss";
}
@media (min-width:600px )and (max-width: 899px) {
  @import "breakpoints/_900Down.scss";
}
@media only screen and (max-width: 912px), only screen and (hover: none){
  body{
    .dos{
      display: none
    }
  }
}
@import "parts/add";



