body {
    text-align: center;
    margin: 0 auto;
    padding: 140px 10px 0 10px;
}

header {
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    font-size: 25px;
    text-align: left;

    h1 {
        padding-left: 10px;
        background-color: white;
        color: #000;
    }

    div {
        height: 60px;
        width: 100%;
        color: #fff;
        background-color: #44B59A;
        font-size: 25px;
        text-align: center;
        line-height: 60px;
    }

    ul {
        display: flex;
        justify-content: space-between;
        width: 45%;
        padding-left: 20px;
    }

    a {
        color: #fff;
        text-decoration: none;

        &:hover {
            text-decoration: underline #fff;
        }
    }
}

.header_top {
    display: flex;
    justify-content: space-between;
    height: 60px;
    width: 100%;
    font-size: 25px;
    line-height: 60px;
    background-color: white;

    img {
        width: 50px;
        height: 50px;
        margin-top: 5px;
        vertical-align: -25%;
    }

    a {
        color: #FF9538;
        padding: 0 10px;
    }
}


// section{
//     margin: 0 auto;
//     width: 98%;
//     height: 595px;
//     background-color: #bbb;
//     padding: 30px;
//     box-sizing: border-box;
// }

.section_header {
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    width: 90%;
    margin: 0 auto;

    span {
        background-color: #fff;
        padding: 5px 10px;
        font-size: 40px;
    }
}

.search_container {
    display: flex;
    justify-content: space-between;
    width: 75%;

    .search_space {
        width: 300px;
        height: 50px;
    }

    .search_button {
        width: 150px;
        height: 50px;
        background-color: aquamarine;
        color: #fff;
        border: none;
    }

    button {
        width: 70px;
        height: 50px;
        background-color: aquamarine;
        color: #fff;
    }
}

.section_main {
    margin: 15px auto;
    width: 1000px;
    height: 480px;
    background-color: #44B59A;
}

.day_back {
    background-color: white;
    border-style: none;
    border-right: 2px solid #44B59A;
    border-bottom: 2px solid #44B59A;
    content: '';
    padding: 0;
    height: 1rem;
    transform: rotate(135deg);
    width: 1rem;
    z-index: 1;
}

.day_front {
    background-color: white;
    border-style: none;
    border-right: 2px solid #44B59A;
    border-bottom: 2px solid #44B59A;
    content: '';
    padding: 0;
    height: 1rem;
    transform: rotate(-45deg);
    width: 1rem;
    z-index: 1;
}

.smart_button {
    display: none;
}

footer {
    width: 10%;
    position: relative;
    color: black;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    position: relative;
    text-align: center;
    top: 15px;
    left: 0;
    margin: 0 auto;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
    padding: 0;
    width: 850px;
    table-layout: fixed;
}

table tr {
    background-color: #fff;
    border: 2px solid #eee;
}

table tr:last-child {
    border: none;
}

table th {
    padding: 10px;
    border-right: 2px solid #fff;
}

table td {
    border-right: 2px solid #eee;
    text-align: center;
}

table th {
    font-size: .85em;
}

table thead tr {
    background-color: #50535d;
    color: #fff;
}

table tbody th {
    border-right: 2px solid #eee;
}

th.non {
    border-right: none;
}

.txt {
    text-align: left;
    font-size: .85em;
}

.price {
    color: #000;
    font-weight: bold;
    font-size: 1.3em
}

.price span {
    font-size: .6em;
}

.red_bk {
    background: #e81010
}

.red-txt {
    color: #e81010
}

.btn {
    background: #e81010;
    border: 2px solid #e81010;
    color: #fff;
    padding: 1em;
    border-radius: 20px;
    display: block;
    text-decoration: none;
    font-size: .8em
}

.btn:hover {
    background: #fff;
    border: 2px solid #e81010;
    color: #e81010;
    transition: .2s;
}

table .btnarea td {
    padding: .2em .5em;
    border-right: none
}

@media screen and (max-width: 600px) {
    .wrap {
        overflow-x: scroll;
    }
}