body{
    text-align: center;
    margin: 0 auto;
    padding: 165px 0 0 0;
}

header{
    width: 100%;
    top: 0;
    position: fixed;
    font-size: 25px;
    text-align: left;
    h1{
        height: 60px;
        width: 100%;
        font-size: 25px;
        line-height: 60px;
        padding-left: 10px;
    }
    div{
        height: 60px;
        width: 100%;
        color: #fff;
        background-color: #44B59A;
        font-size: 25px;
        text-align: center;
        line-height: 60px;
    }
    ul{
        display: flex;
        justify-content: space-between;
        width: 45%;
        padding-left: 20px;
    }
    a{
        color: #fff;
        text-decoration: none;
        &:hover{
            text-decoration: underline #fff;
        }
    }
}

section{
    margin: 0 auto;
    width: 96%;
    height: 570px;
    background-color: aquamarine;
    pa
    box-sizing: border-box;
}