body {
    text-align: center;
    margin: 0 auto;
    padding: 140px 10px 0 10px;
}

a {
    text-decoration: none;
    color: black;
}

@import "../parts/header";
@import "../parts/header";


.section_header {
    font-size: 30px;
    width: 33%;
    margin: 0 auto;

    span {
        background-color: #fff;
        padding: 5px 10px;
        font-size: 40px;
    }
}

.search_container {
    display: flex;
    justify-content: space-between;

    .search_space {
        width: 300px;
        height: 50px;
    }

    .search_button {
        width: 75px;
        height: 50px;
        background-color: aquamarine;
        color: #fff;
        border: none;
    }

    button {
        width: 70px;
        height: 50px;
        background-color: aquamarine;
        color: #fff;
    }
}

.section_main {
    margin: 15px auto;
    width: 1000px;
    height: 480px;
    box-sizing: border-box;
    padding: 10px;
}

.day_back {
    background-color: white;
    border-style: none;
    border-right: 2px solid #44B59A;
    border-bottom: 2px solid #44B59A;
    content: '';
    padding: 0;
    height: 1rem;
    transform: rotate(135deg);
    width: 1rem;
    z-index: 1;
}

.day_front {
    background-color: white;
    border-style: none;
    border-right: 2px solid #44B59A;
    border-bottom: 2px solid #44B59A;
    content: '';
    padding: 0;
    height: 1rem;
    transform: rotate(-45deg);
    width: 1rem;
    z-index: 1;
}

.smart_button {
    display: none;
}

footer {
    width: 10%;
    position: relative;
    color: black;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    position: relative;
    text-align: center;
    top: 15px;
    left: 0;
    margin: 0 auto;
}





// td{
//     img{
//         width: 30px;
//     }
// }