body {
    text-align: center;
    margin: 0 auto;
    padding: 140px 10px 0 10px;
    background-color: #e5e5e5;
}

a {
    text-decoration: none;
    color: black;
}

section {
    h2 {
        font-size: 25px;
    }
}

@import "../parts/header";

@import "../parts/submit";

.page_change{
    margin: 30px;
    button{
        margin: 0 10px;
        font-size: 1８px;
    }
}

#agency{
    display: none;
}