body {
    text-align: center;
    margin: 0 auto;
    padding: 140px 10px 0 10px;
}

header {
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    font-size: 25px;
    text-align: left;

    h1 {
        padding-left: 10px;
        background-color: white;
        color: #000;
    }

    div {
        height: 60px;
        width: 100%;
        color: #fff;
        background-color: #44B59A;
        font-size: 25px;
        text-align: center;
        line-height: 60px;
    }

    ul {
        display: flex;
        justify-content: space-between;
        width: 45%;
        padding-left: 20px;
    }

    a {
        color: #fff;
        text-decoration: none;

        &:hover {
            text-decoration: underline #fff;
        }
    }
}

.header_top{
    display: flex;
    justify-content: space-between;
    height: 60px;
    width: 100%;
    font-size: 25px;
    line-height: 60px;
    background-color: white;
    img{
        width: 50px;
        height: 50px;
        margin-top: 5px;
        vertical-align: -25%;
    }
    a{
        color: #FF9538;
        padding: 0 10px;
    }
}

// .contact {
//     width: 700px;
//     margin: 0 auto;
//     padding: 60px 0;
// }

.contact-ttl {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 40px;
    text-align: center;
}

.contact-table {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

.contact-item,
.contact-body {
    padding: 20px;
    border: 1px solid #ccc;
}

.contact-item {
    text-align: left;
    width: 20%;
    background-color: #eee;
}

.contact-body {
    width: 70%;
}

.form-text {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    max-width: 400px;
}

.contact-sex + .contact-sex {
    margin-left: 10px;
}

.contact-sex-txt {
    display: inline-block;
    margin-left: 5px;
}

.form-select {
    width: 180px;
    height: 40px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-skill {
    display: block;
}

.contact-skill + .contact-skill {
    margin-top: 10px;
}

.contact-skill-txt {
    display: inline-block;
    margin-left: 5px;
}

.form-textarea {
    width: 100%;
    padding: 10px;
    height: 200px;
    border-radius: 5px;
    border: 1px solid #ccc;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.contact-submit {
    width: 250px;
    background-color: #333;
    color: #fff;
    font-weight: bold;
    display: block;
    margin: 0 auto;
    font-size: 16px;
    padding: 15px;
    border-radius: 100vh;
    border: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}

section{
    h2{
        font-size: 25px;
    }
}

table {
    border-collapse: collapse;
    margin: 0 auto;
    padding: 0;
    width: 850px;
    table-layout: fixed;
}

table tr {
    background-color: #fff;
    border: 2px solid #eee;
}

table tr:last-child {
    border: none;
}

table th {
    width: 120px;
    padding: 10px 0;
    border-right: 2px solid #fff;
}

table td {
    border-right: 2px solid #eee;
    text-align: center;
    padding: 5px;
}

table th {
    font-size: .85em;
}

table thead tr {
    background-color: #50535d;
    color: #fff;
}

table tbody th {
    border-right: 2px solid #eee;
}

th.non {
    border-right: none;
}

.txt {
    text-align: left;
    font-size: .85em;
}

.price {
    color: #000;
    font-size: .85em;
}

.price span {
    font-size: .6em;
}

.content-sex{
    input{
        height: ;
        width: 50px;
    }
}