.section_header {
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    width: 90%;
    margin: 0 auto;

    h3{
        width: 200px;
        margin-top:7px;
    }
    span {
        box-shadow:  2px 2px 5px rgba(0, 0, 0, 0.4);
        background-color: #eee;
        padding: 5px 10px;
        font-size: 40px;
        margin-left: 15px;
    }
}

.search_container {
    display: flex;
    justify-content: space-between;
    width: 90%;

    // .search_space {
    //     width: 300px;
    //     height: 50px;
    // }

    // .search_button {
    //     width: 70px;
    //     height: 50px;
    //     background-color: aquamarine;
    //     color: #fff;
    //     border: none;
    // }

    // button {
    //     width: 70px;
    //     height: 50px;
    //     background-color: aquamarine;
    //     color: #fff;
    // }
}

.search_container{
    display: flex;
    height: 50px;
    width: 100%;
    input{
        height: 25px;
        width: 250px;
        &[type="submit"] {
            /* ～送信ボタン専用の装飾～ */
            width: 50px;
        }
    }
    h1{
        font-size: 30px;
    }

    .search_container{
        margin: 0 20%;
    }
}
